<div class="fund_form">
    <h1>Add a fund</h1>
    <div class="form_inputs">
        <div class="input_row">
            <label for="name">Name:</label>
            <input id="name" type="text" [(ngModel)]="newName"/>
        </div>
        <div class="input_row">
            <label for="value">Value:</label>
            <input id="value" type="number" [(ngModel)]="newValue" />
        </div>
        <div class="input_row">
            <label for="return">Return:</label>
            <input id="return" type="number" [(ngModel)]="newReturn" />
        </div>
        <button (click)="createFund()">Add</button>
    </div>
</div>